h1,p{
    text-align: center;
}
body{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
html{
    font-family: Tahoma;
}
fieldset{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}
label,select{
    display: block;
    margin-top: 0.25em;
}
input[type="submit"],legend{
    margin-top: 1em; 
}
input[type="submit"]{
  width: 100%; 
}
#title{
    font-size:50px; color:lightblue; margin:10px;
}
#description{
    font-style: italic;
}
input[type="number"]{
    width: 34%;
}
input[type="text"],input[type="number"],input[type="email"]{
    display: block;
    margin-top: 0.25em;
}
textarea{
    margin-top: 0.25em;
}